.item{
    width: 350px;
}
.item p{
    margin: 6px 0;

}
.item-prices{
    display: flex;
    gap: 20px;
    
}
.item-price-new{
    color: gray;
    font-size: 18px;
    font-weight: 800;
}
.item-price-old{
    color: gray;
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: .5s;
}